<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Y.O.U.niverse</title>
  <link rel="stylesheet" href="stylesheets/lpstyle.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="imgcontainer"></div>
       <img src="/assets/images/logo2.png" alt="logo" class="logo">
       </div>
      <h1>
        <a href="/">THE Tech Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Log into your Account</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Created by Team 13
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>