<body>
    <h1>Character Search and Results</h1>
    <div class="center-container">
        <div class="ui-widget">
            <label for="characters">Search: </label>
            <input id="characters">
        </div>
    </div>
    <div class="container">
    </div>
    <div>
        <button id="load_more">Load More...</button>
    </div>
