<body>
    <h1>Characters</h1>
    <div class="center-container">
    </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
            {{!-- <img class="card-img-top" src="${character.images.md}" alt="${character.name}"> --}}
            {{!-- <div class="card-body">
                <h5 class="card-name">${character.name}</h5>
                <p class="card-fullName">${character.biography.fullName}</p>
                <p class="card-placeOfBirth">${character.biography.placeOfBirth}</p>
                <p class="card-race">${character.appearance.race}</p>
                <p class="card-gender">${character.appearance.gender}</p>
                <p class="card-alignment">${character.biography.alignment}</p>
            </div> --}}
        </div>
    </div>
    <div>
        <button id="load_more">Load More...</button>
    </div>
    <script src="/javascript/char.js"></script>
